
<link href='//fonts.googleapis.com/css?family=PT+Sans&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

<div class="col-lg-12 container-alert">
  <% flash.each do |name, msg| %>
    <% if msg.is_a?(String) %>
      <div class="alert col-lg-10 center-block special-alert alert-<%= name.to_s == 'notice' ? 'info' : 'danger' %>">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      </div>
    <% end %>
  <% end %>
</div>

<div id="navbar-main">
  <div class="navbar navbar-inverse navbar-fixed-top bg-op nav-op">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="scroll navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <h1 class="centered slider-text logo">
          <a class="navbar-brand scroll" href="#home">
            <div class="logo-bns"><%= render :partial => 'svg/logo' %></div>
          </a>
        </h1>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navs-bns">
          <li>
            <a href="#about" class="nav-title scroll"> О нас</a>
          </li>
          <li>
            <a href="#contact" class="nav-title scroll"> Контакты</a>
          </li>
        </ul>
        <ul id="phone-span" class="nav navbar-nav navbar-right">
          <li>
            <a href="tel:+7(8332)45-60-10" class="scroll slider-text tel-bns nav-title">
              <span class="icon icon-mobile"></span> +7 (8332) 45-60-10
            </a>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

<div class="slider-bg slider-indent" id="home">
  <div class="wrap">
    <div class="slider">
      <div id="da-slider" class="da-slider">
        <div class="da-slide">
          <h2>Автоматизация и диспетчеризация</h2>
          <p>Автоматизация и диспетчеризация технологических процессов</p>
        </div>
        <div class="da-slide">
          <h2>Системы домашней автоматизации</h2>
          <p>Проектирование, установка и обслуживание систем домашней автоматизации</p>
        </div>
        <div class="da-slide">
          <h2>Телекоммуникации и связь</h2>
          <p>Профессиональная мобильная радиосвязь, сотовая связь</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="about" class="greywrap" name="about">
  <div class="container">
    <div class="row white">
    <br>
      <h1 class="centered">О нас</h1>
      <hr>

      <div class="col-lg-6">
        <p>
          Основными направлениями компании BNSERVICE являются разработка и внедрение высокотехнологичных решений в области автоматизации, контроля и управления.<br />
          Специалисты компании имеют более чем 5-летний опыт работ по проектированию, разработке, вводу в эксплуатацию и сопровождению систем АСУ ТП, АСКУЭ и АСОДУ с использованием оборудования ведущих мировых производителей средств промышленной автоматизации.<br />
          Накопленный огромный опыт создания разнообразных автоматизированных комплексов.
        </p>
      </div><!-- col-lg-6 -->

      <div class="col-lg-6">
        <p>
          Другим направлением компании является внедрение высокотехнологичных решений для домашней автоматизации.<br />
          Решения могут быть самыми разнообразными: от автоматизации отдельных инженерных подсистем до создания системы и интерфейса управления всеми устройствами жилого пространства.<br />
          Компания оказывает услуги на всех этапах создания системы: от обсуждения проекта до полной реализации.
        </p>
      </div><!-- col-lg-6 -->
    </div><!-- row -->
  </div>
  <br>
  <br>
</div><!-- container -->

<div id="home-solutions" name="home-solutions">
  <div class="container">
    <div class="row white">
    <br>
      <h1 class="centered">Интеллектуальные домашние решения</h1>
      <hr>
      <div class="row">
        <div class="container">
          <div class="col-md-4">
            <%= render :partial => 'home_card', locals: {:text => "Удаленный доступ", :svg => "svg/smartfone", :describe => "Удаленный доступ к системе с мобильного устройства"} %>
          </div>

          <div class="col-md-4">
            <%= render :partial => 'home_card', locals: {:text => "Освещение", :svg => "svg/lamp", :describe => "Управление группами светильников, диммирование освещения"} %>
          </div>

          <div class="col-md-4">
            <%= render :partial => 'home_card', locals: {:text => "Климат-контроль", :svg => "svg/temperature", :describe => "Управление температурой и влажностью в жилом пространстве"} %>
          </div>

        </div>
      </div>

      <div class="row">
        <div class="container">
          <div class="col-md-4">
            <%= render :partial => 'home_card', locals: {:text => "Мультимедиа решения", :svg => "svg/media", :describe => "Интеграция аудио/видео техники в систему"} %>
          </div>

          <div class="col-md-4">
            <%= render :partial => 'home_card', locals: {:text => "Контроль доступа", :svg => "svg/camera", :describe => "Технические средства доступа в помещение, видеонаблюдение"} %>
          </div>

          <div class="col-md-4">
            <%= render :partial => 'home_card', locals: {:text => "Сценарии", :svg => "svg/script", :describe => "Сценарии управления температурой помещения, включения освещения, энергосберегающие сценарии"} %>
          </div>

        </div>
      </div>

    </div><!-- row -->
  </div>
</div><!-- container -->

<div id="automation" class="greywrap" name="automation">
  <div class="container">
    <div class="row white">
      <h1 class="centered">Автоматизация и диспетчеризация</h1>
      <hr>

      <div class="row">
        <div class="container">
          <div class="col-lg-6">
            <%= render :partial => 'card', locals: {:text => "Обследование производства, постановка задачи, помощь в составлении технического задания", :svg => "svg/negotiation"} %>
          </div>

          <div class="col-lg-6">
            <%= render :partial => 'card', locals: {:text => "Проектирование и производство шкафов управления автоматики", :svg => "svg/engineer"} %>
          </div><!-- col-lg-6 -->
        </div>
      </div>

      <div class="row">
        <div class="container">
          <div class="col-lg-6">
            <%= render :partial => 'card', locals: {:text => "Программирование ПЛК, частотных преобразователей и панелей управления", :svg => "svg/programmer"} %>
          </div>

          <div class="col-lg-6">
            <%= render :partial => 'card', locals: {:text => "Реализация человеко-машинного интерфейса (HMI) на различных платформах (панели управления, SCADA, WEB)", :svg => "svg/scada"} %>
          </div><!-- col-lg-6 -->
        </div>
      </div>

      <div class="row">
        <div class="container">
          <div class="col-lg-6">
            <%= render :partial => 'card', locals: {:text => "Сопровождение систем автоматизации и диспетчеризации", :svg => "svg/support"} %>
          </div>

          <div class="col-lg-6">
            <%= render :partial => 'card', locals: {:text => "Модернизация существующих АСУ ТП, обучение персонала", :svg => "svg/tutor"} %>
          </div><!-- col-lg-6 -->
        </div>
      </div>

    </div><!-- row -->
  </div>
  <br>
  <br>
</div><!-- container -->

<div class="container" id="contact" name="contact">
  <div class="row">
  <br />
    <h1 class="centered">Свяжитесь с нами</h1>
    <hr>
    <br>
    <br>
    <div class="col-lg-5">
      <h3>Контактная информация</h3>
      <p>
        <span class="icon icon-home"></span> Киров, Россия<br />
        <span class="icon icon-mobile"></span>
        <a href="tel:+7(8332)45-60-10"> +7(8332)45-60-10 </a><br />
        <span class="icon icon-mobile"></span>
        <a href="tel:+7(8332)49-82-62"> +7(8332)49-82-62 </a><br />
        <span class="icon icon-envelop"></span> <a href="mailto:info@bnservice.pro?subject=From promo site"> info@bnservice.pro</a> <br/>
      </p>
    </div><!-- col -->

    <div class="col-lg-7">
      <h3>Написать письмо</h3>
      <p>
        <%= render :template => 'contacts/new' %>
        <br>
      </p>
    </div><!-- col -->

  </div><!-- row -->
</div><!-- container -->

<div class="slider-bg">
  <div id="footerwrap" class="bg-op">
    <div class="container">
      <h4>&#x000A9; ООО "БНС ИНЖЕНИРИНГ" 2018</h4>
    </div>
  </div>
</div>
